:root {
  --theme-primary: rgb(251, 255, 18);
  --theme-bg: #000000;
}

#navigation {
  width: 12rem;
  padding: 1em 1em 1em 0;
  border-right: 0.125em solid var(--theme-primary);
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  transition: width 150ms ease-in-out;
  transform-origin: left;
  isolation: isolate;
}

#navigation-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 100%;
  top: 1rem;
  padding: 0.125em 1em;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border: 2px solid var(--theme-primary);
  border-left: 0;
  border-radius: 0 1em 1em 0;
  cursor: pointer;
  z-index: 1;
}
#navigation #navigation-content {
  width: 100%;
  height: 100%;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
}

#navigation.hidden *:not(#navigation-button):not(#navigation-button i) {
  display: none;
  width: 0;
}
#navigation.hidden {
  width: 0;
  padding: 0;
}

.navigation-header {
  overflow: hidden;
  display: block;
  text-align: center;
  position: relative;
  height: 4rem;
  width: 100%;
}

.neonText {
  font-size: 1.5em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: auto;
  color: var(--theme-primary);
  font-weight: 900;
  text-shadow: 0 0 0.125em 1em var(--theme-primary);
}
#navigation-button > i {
  pointer-events: none;
  color: #fff;
  font-size: 1.5em;
}
#navigation-button:hover > i {
  color: #fff;
  font-size: 1.5em;
  transform: rotate(180deg);
  transition: transform 150ms ease-in-out;
}

.button {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  margin: 0 0.2em;
  max-height: 3em;
  padding: 0.25em;
  background: transparent;
  border: 2px solid var(--theme-primary);
  color: white;
  font-weight: 900;
  letter-spacing: 4px;
  font-size: 23px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
  transition: 300ms ease;
  overflow: hidden;
  transition: color 350ms ease;
  transform: scale(100%) rotate(0deg);
}
button:hover,
button:focus {
  color: var(--theme-primary);
  text-shadow: 0 0 0.7em var(--theme-primary);
  cursor: pointer;
  background-color: #ffffff50;
}

@media screen and (max-width: 860px) {
  #navigation {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: #0000009f;
  }
  #navigation:not(.hidden) #navigation-button {
    transform: scaleX(-1) translateX(100%);
  }
  #navigation:not(.hidden) #navigation-button > i {
    transform: scaleX(1);
  }
}

body,
html {
  min-height: 830px;
  width: 100%;
  height: 100%;
  background-color: var(--theme-bg);
  padding: 0;
  margin: 0;
  overflow: visible;
}

body {
  display: flex;
}

html {
  background-image: url("https://images.hdqwalls.com/wallpapers/dark-batman-4k-31.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  padding: 1rem 5rem;
  display: flex;
  flex: 1;
  margin: 0 auto;
  max-width: 1600px;
  height: 100%;
  width: 100%;
  flex-direction: column-reverse;
  align-items: center;
}

textarea {
  position: relative;
  border-radius: 1em;
  width: 100%;
  height: 100%;
  background: url("https://wallpaperaccess.com/full/197277.jpg") no-repeat 100%;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.377);
  background-blend-mode: multiply;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0.75em;
  box-sizing: border-box;
  border: 0.25em solid var(--theme-primary);
  font-size: 1.25rem;
  line-height: 25px;
  margin-bottom: 15px;
  resize: none;
  box-shadow: 0 0 1em 0.0125em var(--theme-primary),
    inset 0 0 1em 0.0125em var(--theme-primary);
  outline: none;
  overflow-x: auto;
  white-space: nowrap;
}

textarea::selection {
  background-color: var(--theme-primary);
  color: var(--theme-bg);
}

.anim {
  animation: batmanAnim 950ms ease-in-out;
}

.anim2 {
  animation: batmanAnim 600ms cubic-bezier(0.42, 0, 0.69, 2.25);
}

@keyframes batmanAnim {
  0%,
  100% {
    transform: scale(100%) rotate(0deg);
  }
  30%,
  70% {
    transform: scale(20%) rotate(359deg);
  }
  50% {
    transform: scale(1%) rotate(180deg);
  }
}

@keyframes batmanAnim2 {
  0% {
    transform: scale(0%) rotate(0deg);
  }
  30% {
    transform: scale(20%) rotate(90deg);
  }
  50% {
    transform: scale(60%) rotate(180deg);
  }
  70% {
    transform: scale(80%) rotate(359deg);
  }
  100% {
    transform: scale(100%) rotate(0deg);
  }
}
#notification {
  z-index: 101;
  bottom: 1em;
  right: 1em;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1ff009b;
  border: 0.25em solid var(--theme-primary);
  border-left: 1em solid var(--theme-primary);
  appearance: none;
  font-size: 1.4em;
  padding: 0.25em 1em;
  border-radius: 0.5em;
  text-align: center;
  overflow: hidden;
  animation: batmanAnim2 500ms ease-in;
}

#notification #text {
  height: fit-content;
  color: rgb(0, 0, 0);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
